<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mappers.UserMapper">

    <resultMap id="AssociateResultMap" type="Associate" autoMapping="false">
        <result property="id" column="id"/>
        <result property="primaryName" column="primary_name"/>
        <result property="secondaryName" column="secondary_name"/>
        <result property="dateJoined" column="date_joined"/>
        <result property="email" column="email"/>
        <result property="phoneNumber" column="phone_number"/>
        <association property="location" column="location_id" javaType="Location" resultMap="LocationResultMap"/>
    </resultMap>

    <select id="getAll" resultType="Associate">
        SELECT * FROM associates;
    </select>

    <select id="getEntityById" resultType="Associate">
        SELECT * FROM associates WHERE id = #{id};
    </select>

    <insert id="saveEntity" parameterType="Associate" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO associates (location_id, primary_name, secondary_name, date_joined, email, phone_number)
        VALUES (#{location.id}, #{primaryName}, #{secondaryName}, #{dateJoined}, #{email}, #{phoneNumber});
    </insert>

    <update id="updateEntity" parameterType="Associate">
        UPDATE associates SET
        location_id = #{location.id},
        primary_name = #{primaryName},
        secondary_name = #{secondaryName},
        date_joined = #{dateJoined},
        email = #{email},
        phone_number = #{phoneNumber}
        WHERE id = #{id};
    </update>

    <delete id="deleteEntity" parameterType="Associate">
        DELETE FROM associates WHERE id = #{id};
    </delete>

</mapper>
