<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.bank.persistence.IBranchDAO">

    <resultMap id="BranchResultMap" type="Branch" autoMapping="false">
        <result property="id" column="id"/>
        <result property="branchName" column="branch_name"/>
        <association property="location" column="location_id" javaType="Location"
                     select="com.solvd.bank.persistence.ILocationDAO.getEntityById"/>
    </resultMap>

    <select id="getAllBranchesByLocationId" parameterType="int" resultMap="BranchResultMap">
        SELECT * FROM branches WHERE location_id = #{locationId};
    </select>

    <select id="getAll" resultMap="BranchResultMap">
        SELECT * FROM branches;
    </select>

    <select id="getEntityById" resultMap="BranchResultMap">
        SELECT * FROM branches WHERE id = #{id};
    </select>

    <select id="getAllByLocationId" resultMap="BranchResultMap">
        SELECT * FROM branches WHERE location_id = #{id};
    </select>

    <insert id="saveEntity" parameterType="Branch" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO branches (location_id, branch_name) VALUES (#{location.id}, #{branchName});
    </insert>

    <update id="updateEntity" parameterType="Branch">
        UPDATE branches SET location_id = #{location.id}, branch_name = #{branchName} WHERE id = #{id};
    </update>

    <delete id="removeEntityById" parameterType="int">
        DELETE FROM branches WHERE id = #{id};
    </delete>

</mapper>
