<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.bank.persistence.ICardDAO">

    <resultMap id="CardResultMap" type="Card" autoMapping="false">
        <result property="id" column="id"/>
        <result property="cardNumber" column="card_number"/>
        <result property="expirationDate" column="expiration_date"/>
        <result property="cvv" column="cvv"/>
        <association property="account" column="account_id" javaType="Account"
                     select="com.solvd.bank.persistence.IAccountDAO.getEntityById"/>
    </resultMap>

    <select id="getAll" resultMap="CardResultMap">
        SELECT * FROM cards;
    </select>

    <select id="getAllTransactions" resultType="Transaction">
        SELECT * FROM transactions WHERE card_id = #{id};
    </select>

    <select id="getEntityById" resultMap="CardResultMap">
        SELECT * FROM cards WHERE id = #{id};
    </select>

    <insert id="saveEntity" parameterType="Card" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO cards (account_id, card_number, expiration_date, cvv)
        VALUES (#{account.id}, #{cardNumber}, #{expirationDate}, #{cvv});
    </insert>

    <update id="updateEntity" parameterType="Card">
        UPDATE cards SET
        account_id = #{account.id},
        card_number = #{cardNumber},
        expiration_date = #{expirationDate},
        cvv = #{cvv}
        WHERE id = #{id};
    </update>

    <delete id="removeEntityById" parameterType="int">
        DELETE FROM cards WHERE id = #{id};
    </delete>

</mapper>
