<!-- src/main/resources/mappers/CityMapper.xml -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.bank.persistence.ICityDAO">

    <resultMap id="cityResultMap" type="City" autoMapping="false">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <association property="country" column="country_id" javaType="Country"
                     select="com.solvd.bank.persistence.ICountryDAO.getEntityById"/>
    </resultMap>

    <select id="getLocationsByCity" resultMap="com.solvd.bank.persistence.ILocationDAO.LocationResultMap">
        SELECT * FROM locations WHERE city_id = #{id};
    </select>

    <select id="getAll" resultMap="cityResultMap">
        SELECT * FROM cities;
    </select>

    <select id="getEntityById" parameterType="int" resultMap="cityResultMap">
        SELECT * FROM cities WHERE id = #{id};
    </select>

    <insert id="saveEntity" parameterType="com.solvd.bank.domain.City" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
        INSERT INTO cities (id, name, country_id)
        VALUES (#{id}, #{name}, #{country.id});
    </insert>

    <update id="updateEntity" parameterType="com.solvd.bank.domain.City">
        UPDATE cities SET
        name = #{name},
        country_id = #{country.id}
        WHERE id = #{id};
    </update>

    <delete id="removeEntityById" parameterType="int">
        DELETE FROM cities WHERE id = #{id};
    </delete>

</mapper>
