<!-- src/main/resources/mappers/CountryMapper.xml -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.bank.persistence.ICountryDAO">

    <resultMap id="countryResultMap" type="Country" autoMapping="false">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="getAll" resultMap="countryResultMap">
        SELECT * FROM countries;
    </select>

    <select id="getEntityById" parameterType="int" resultMap="countryResultMap">
        SELECT * FROM countries WHERE id = #{id};
    </select>

    <insert id="saveEntity" parameterType="com.solvd.bank.domain.Country" useGeneratedKeys="true" keyColumn="id"
            keyProperty="id">
        INSERT INTO countries (id, name) VALUES (#{id}, #{name});
    </insert>

    <update id="updateEntity" parameterType="com.solvd.bank.domain.Country">
        UPDATE countries SET name = #{name} WHERE id = #{id};
    </update>

    <delete id="removeEntityById" parameterType="int">
        DELETE FROM countries WHERE id = #{id};
    </delete>

</mapper>
