<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.bank.persistence.ICustomerDAO">

    <resultMap id="CustomerResultMap" type="Customer" autoMapping="false">
        <result property="creditScore" column="credit_score"/>
        <association property="associate" column="associate_id" javaType="Associate"
                     select="com.solvd.bank.persistence.IAssociateDAO.getEntityById"/>
    </resultMap>

    <update id="updateCreditScore" parameterType="double">
        UPDATE customers
        SET credit_score = #{newCreditScore}
        WHERE id = #{id};
    </update>

    <select id="getAll" resultMap="CustomerResultMap">
        SELECT * FROM customers;
    </select>

    <select id="getEntityById" resultMap="CustomerResultMap">
        SELECT * FROM customers WHERE associate_id = #{associate.id}
    </select>

    <insert id="saveEntity" parameterType="Customer">
        INSERT INTO customers (associate_id, credit_score)
        VALUES (#{associate.id}, #{creditScore})
    </insert>

    <update id="updateEntity" parameterType="Customer">
        UPDATE customers SET
        credit_score = #{creditScore}
        WHERE associate_id = #{associate.id};
    </update>

    <delete id="removeEntityById" parameterType="int">
        DELETE FROM customers WHERE associate_id = #{associate.id};
    </delete>

</mapper>
