<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.bank.persistence.ITransferDAO">

    <resultMap id="TransferResultMap" type="Transfer" autoMapping="false">
        <result property="id" column="id"/>
        <result property="transferTime" column="transfer_time"/>
        <result property="amount" column="amount"/>
        <association property="transferStatus" column="status_id" javaType="TransferStatus"
                     select="com.solvd.bank.persistence.ITransferStatusDAO.getEntityById"/>
        <association property="receiver" column="receiver_id" javaType="Account"
                     select="com.solvd.bank.persistence.IAccountDAO.getEntityById"/>
        <association property="sender" column="sender_id" javaType="Account"
                     select="com.solvd.bank.persistence.IAccountDAO.getEntityById"/>
    </resultMap>

    <delete id="removeDeclinedTransfers">
        DELETE FROM transfers
        WHERE status_id = (SELECT id FROM transfer_statuses WHERE status = "declined");
    </delete>

    <select id="getAll" resultMap="TransferResultMap">
        SELECT * FROM transfers;
    </select>

    <select id="getEntityById" resultMap="TransferResultMap">
        SELECT * FROM transfers WHERE id = #{id};
    </select>

    <insert id="saveEntity" parameterType="Transfer" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO transfers (transfer_time, amount, status_id, receiver_id, sender_id)
        VALUES (#{transferTime}, #{amount}, #{transferStatus.id}, #{receiver.id}, #{sender.id});
    </insert>

    <update id="updateEntity" parameterType="Transfer">
        UPDATE transfers SET
        transfer_time = #{transferTime},
        amount = #{amount},
        status_id = #{transferStatus.id},
        receiver_id = #{receiver.id},
        sender_id = #{sender.id}
        WHERE id = #{id};
    </update>

    <delete id="removeEntityById" parameterType="int">
        DELETE FROM transfers WHERE id = #{id};
    </delete>

</mapper>
