<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.bank.persistence.ITransferStatusDAO">

    <resultMap id="TransferStatusResultMap" type="TransferStatus" autoMapping="false">
        <result property="id" column="id"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="getAll" resultMap="TransferStatusResultMap">
        SELECT * FROM transfer_statuses;
    </select>

    <insert id="saveEntity" parameterType="TransferStatus" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO transfer_statuses (status)
        VALUES (#{status})
    </insert>

    <update id="updateEntity" parameterType="TransferStatus">
        UPDATE transfer_statuses SET
        status = #{status}
        WHERE id = #{id};
    </update>

    <delete id="removeEntityById" parameterType="int">
        DELETE FROM transfer_statuses WHERE id = #{id};
    </delete>

</mapper>
